<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaoyyy.rubbish.user.mapper.UserMapper">

    <resultMap id="userAuth" type="com.yaoyyy.rubbish.common.model.user.UserAuthTO" autoMapping="true">
        <id property="uid" column="uid" jdbcType="VARCHAR"/>
        <collection property="roles" ofType="string" />
    </resultMap>
    
    <!-- 根据id查询用户 -->
    <select id="queryUserCount" resultType="int">
        SELECT
        count(1)
        FROM rb_user
        WHERE user = #{user}
        ORDER BY user ASC
    </select>

    <select id="queryUserPass" resultType="java.lang.String">
        SELECT password
        FROM
            rb_user
        WHERE
            uid = '1'
        LIMIT 0, 1
    </select>

    <select id="queryUserAuth" resultMap="userAuth">
        SELECT
            u.uid,
            u.username,
            u.password,
            r.role
        FROM
            rb_user u
            LEFT JOIN rb_user_role ur ON u.uid = ur.uid
            LEFT JOIN rb_role r ON ur.pk_role = r.pk_role
        WHERE
            u.username = #{username, jdbcType=VARCHAR}
    </select>

</mapper>