<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaoyyy.rubbish.user.mapper.UserMapper">

    <!-- 可以将sql语句独立出来，然后引用 -->
    <sql id="selectMap">
        u.username, u.address ,c.campany_name
    </sql>

    <!-- 根据id查询用户 -->
    <select id="getUserCount" resultType="int">
        SELECT
        count(1)
        FROM rb_user
        WHERE user = #{user}
        ORDER BY user ASC
    </select>

    <select id="getUserPass" resultType="java.lang.String">
        SELECT password
        FROM
            rb_user
        WHERE
            uid = '1'
        LIMIT 0, 1
    </select>


</mapper>